# PostgreSQL
POSTGRES_USER=mlb
POSTGRES_PASSWORD=mlbpassword
POSTGRES_DB=mlb_pipeline
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# Airflow (change Fernet key in production)
AIRFLOW_FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt0jKc-hg=
AIRFLOW_SECRET_KEY=mlb-pipeline-webserver-secret
